ipython==8.12.3
librosa==0.10.1
matplotlib==3.8.3
numpy==1.26.4
optuna==3.6.0
pandas==2.2.1
Pillow==10.2.0
protobuf==5.26.0
pydub==0.25.1
scikit_learn==1.4.1.post1
soundfile==0.12.1
tensorflow==2.16.1
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
opencv-python==4.5.4.58
setuptools==69.2.0